<% if (site.tags.length){ %>
  <div class="widget-wrap non-mobile-widget">
    <h3 class="widget-title"><%= __('tagcloud') %></h3>
    <div class="widget tagcloud">
      <%- tagcloud({min_font: 15, max_font: 15}) %>
    </div>
  </div>
<% } %>